/Code
/GIMP
/Kvantum
/QDirStat
/QtProject.conf
/SpeedCrunch
/StardewValley
/Thunar
/Trolltech.conf
/Unknown Organization
/arcolinux-logo
/arcolinux-welcome-app
/arcologout
/autostart
/bashtop
/catfish
/cef_user_data
/chromium
/cmus
/conky
/corectrl
/dconf
/discord
/droidcam
/enchant
/fcitx
/filezilla
/fontconfig
/galculator
/gconf
/geany
/google-chrome
/gpick
/gtk-2.0
/gtk-3.0
/htop
/kdeglobals
/kdenlive-layoutsrc
/kdenliverc
/kglobalshortcutsrc
/knfsshare
/libreoffice
/lutris
/menus
/mimeapps.list
/mozc
/mpv
/nano
/nautilus
/neofetch
/nitrogen
/nomacs
/obmenu-generator
/openbox
/pamac
/pavucontrol.ini
/picom.conf
/pipewire-media-session
/plank
/plex.tv
/polybar
/pragha
/protonfixes
/pulse
/qt5ct
/rofi
/solaar
/spectaclerc
/sublime-text-3
/teamviewer
/terminator
/termite
/tint2
/transmission
/unity3d
/user-dirs.dirs
/user-dirs.locale
/variety
/vivaldi
/vlc
/volumeicon
/xfce4
/yad.conf
/yadm
/zoomus.conf
/nvim